body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Variables */
:root {
    --max-vh: 99vh;
    --max-vw: 99vw;
    --sidebar-buttons-height: 3vh;
    --analyse-height: 5vh;
    --canvas-height: calc(var(--max-vh) - var(--analyse-height));
    --itemlist-height: calc(var(--canvas-height) - 2 * var(--sidebar-buttons-height));
}

/** Main wrapper **/
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--max-vh);
    width: var(--max-vw);

    display: grid;
    grid-template-columns: 25% 75%;

}

/** Sidebar container **/
.wrapper > .sidebar-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-right: 2px solid black;
}

/** Button section in sidebar container **/
.wrapper > .sidebar-container > .sidebar-button-container {
    padding: 4px;
    border-bottom: 2px solid black;
    text-align: center;
    height: var(--sidebar-buttons-height);
}

/** Item list wrapper in sidebar **/
.wrapper > .sidebar-container > .item-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: var(--itemlist-height);
}

/** Item card in item list **/
.wrapper > .sidebar-container > .item-list-container > .card {
    border: 1px solid black;
    margin: 4px 1px;
    border-radius: 2px;
    padding: 2px;

    display: flex;
    flex-direction: row;
}

/** Configure line in item list */
.wrapper > .sidebar-container > .item-list-container > .line-config {
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

/** Line info card in item list **/
.wrapper > .sidebar-container > .item-list-container > .line-card > .line-type {
    font-size: 1.4em;
    padding-right: 3px;
    border-right: 2px solid black;
}
.wrapper > .sidebar-container > .item-list-container > .line-card > .buttons-container {
    margin-left: auto; /** Floats div to right */
}

/** Constant card in item list */
.wrapper>.sidebar-container>.item-list-container>.constant-card>.buttons-container {
    margin-left: auto;
}


/** Wrapper around <canvas /> */
.wrapper > .canvas-container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: var(--canvas-height);
}

/** Analyse line div **/
.wrapper>.analyse-line-container {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    height: var(--analyse-height);
    border-top: 1px solid black;
    margin: 0;
}

/** Text stating line ID in analysis options */
.wrapper > .analyse-line-container > .line-id {
    padding-right: 2px;
    border-right: 1px solid black;
    margin-right: 2px;
}

/* Error syymbol */
.err-sym {
    font-size: 1.5em;
    font-family: monospace;
    font-weight: 900;
    color: crimson;
    padding: 2px;
    border: 1px solid crimson;
    cursor: default;
}

/** General styling */
input[type="number"] {
    width: 50px;
}

.cross-out {
    text-decoration: line-through;
}

/** Styling used for integrating between limits **/
.sub-sup {
    position: absolute;
}

.sub-sup sub,
.sub-sup sup {
    display: block;
    position: relative;
    left: 2px;
    top: -5px;
}

/** Styling for Popup.js **/
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* z-index: 100; */
}

.popup-body {
  border: 1px solid black;
  padding: 4px;
  border-radius: 2px;
  background: seashell;
  text-align: center;
}